---
---

@import "jekyll-theme-minimal";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 200;
  background-color: #fafafa;
}

header h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 100%;
}

header h1 a {
  color: black;
  text-decoration: none;
}

header h1 a:hover {
  color: black;
  text-decoration: none;
}

header p {
  margin-bottom: 10px;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:hover {
