---
---
@import "jekyll-theme-minimal";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Lora', serif;
  font-size: 16px;
}

section p {
  color: black;
}

header p {
  font-size: 16px;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:hover {
  color: black;
  text-decoration: underline;
}

header nav ul li a {
  font-size: 16px;
}

small {
  font-size: 14px;
}

header h1 a {
  color: black;
}

header h1 a:hover {
  color: black;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
header nav ul li {
  margin: 10px 0;
}
header nav ul li a {
  color: #000000;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #000000;
  text-decor
