---
---

@import "jekyll-theme-minimal";

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

header h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 100%;
}

header h1 a {
  color: black;
  text-decoration: none;
}

header p a {
  color: black;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

header nav ul li {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

header nav ul li:first-child {
  border-top: 1px solid #ddd;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

section {
  margin-left: 100px;
}

section p {
  color: black;
}
