---
---

@import "jekyll-theme-minimal";

header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

header nav ul li {
  margin: 10px 0;
}

header nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

header nav ul li a:hover {
  text-decoration: underline;
}
   
