---
---

@import "jekyll-theme-minimal";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 200;
}

header h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

header nav ul li {
  margin: 0;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

header nav ul li:first-child {
  border-top: 1px solid #ddd;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
