---
---

@import "jekyll-theme-minimal";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 200;
}

strong, b {
  font-weight: 400;
}

section p {
  color: black;
}

header p {
  font-size: 16px;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:hover {
  color: black;
  text-decoration: underline;
}

header h1 a {
  color: black;
}

header h1 a:hover {
  color: black;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
