---
---

@import "jekyll-theme-minimal";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 200;
  background-color: #fafafa;
}

header h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

section {
  margin-top: 0px;
  padding-top: 0px;
  border-top: none;
}

section h1, section h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

strong, b {
  font-weight: 400;
}

section p {
  color: black;
  margin-bottom: 20px;
}

header p {
  font-size: 16px;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:hover {
  color: black;
  text-decoration: underline;
}

header h1 a {
  color: black;
}

header h1 a:hover {
  color: black;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

header nav ul li {
  margin: 10px 0;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

header nav ul li a:hover {
  color: black;
  text-decoration: underline;
}

small {
  font-size: 14px;
}
