---
---
@import "jekyll-theme-minimal";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;700&display=swap');
body {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 16px;
}
section p {
  color: black;
}
header p {
  font-size: 16px;
}
header p a {
  color: black;
  text-decoration: none;
}
header p a:hover {
  color: black;
  text-decoration: underline;
}
header h1 a {
  color: black;
}
header h1 a:hover {
  color: black;
  text-decoration: none;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
header nav ul li {
  margin: 10px 0;
}
header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
header nav ul li a:hover {
  color: black;
  text-decoration: underline;
}
small {
  font-size: 14px;
}
